.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 40px;
	margin-bottom: 10px;
}

.left {
	display: flex;
	align-items: center;
	p {
		font-weight: 600;
	}
}
.right {
	display: flex;
	align-items: center;
	svg {
		margin: 0 10px;
	}
}
.authorName {
	font-weight: 400 !important;
	color: #595959;
}
.topicInfoName {
	font-weight: 500 !important;
}
.author {
	display: flex;
	align-items: center;
	margin-right: 20px;
	&:hover {
		color: blue;
	}
	cursor: pointer;
}
.timeAdded {
	color: #595959;
	margin-left: 10px;
}
.personAddIcon {
	color: rgb(143, 143, 221);
}

.topic {
	display: flex;
	align-items: center;
	margin-right: 20px;
	&:hover {
		color: blue;
	}
	cursor: pointer;
}
