.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 40px;
	margin-bottom: 10px;
}

.left {
	display: flex;
	align-items: center;
	p {
		font-weight: 600;
	}
}
.right {
	display: flex;
	align-items: center;
	svg {
		margin: 0 10px;
	}
}
.author {
	display: flex;
	align-items: center;
	margin-right: 20px;
}
.timeAdded {
	color: #595959;
	margin-left: 10px;
}
.personAddIcon {
	color: blue;
}
