.menu {
	z-index: 100;
	ul {
		padding: 8px;
		border-radius: 5px;
		background-color: darken($color: #fff, $amount: 1);
	}
}
.menuButton {
	border: none;
	outline: none;
	background-color: transparent;
	color: black;
	cursor: pointer;
	font-size: 18px;
	display: flex;
	align-items: center;
}
.optionMenu {
	cursor: pointer;
	padding: 5px;
	&:hover {
		background-color: darken($color: #fff, $amount: 3);
	}
}
.selected {
	background-color: darken($color: #fff, $amount: 8);
}
.rotate {
	transform: rotate(180deg);
}
