.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
}
.avatar {
	border-radius: 50%;
}
.bttn {
	padding: 0;
	transition: all 0.3s;
	&:hover {
		background-color: transparent;
		color: blue;
	}
}

.timeShow {
	font-size: 14px;
	color: gray;
}
.subComment {
	margin-left: 30px;
}
.countSubComment {
	margin-bottom: 10px;
	margin-top: -10px;
	margin-left: -20px;
	font-size: 16px;
	color: blue;
	cursor: pointer;
}
