.menu {
	li {
		button {
			display: flex;
			justify-content: flex-start;
			width: 200px;
			text-transform: capitalize;
			font-size: 18px;
		}
		svg {
			margin-right: 10px;
		}
		margin-bottom: 15px;
	}
}
.leftSide {
	position: fixed;
	left: 0;
	top: 75px;
}
